*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
     color:white;
     
}
body{
     background-color: #1A0B2E;
}
/* header style */
header{
   
   
}
/* navbar style */
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 0;
   
}
.menu{
    display: flex;
    color:white;
    gap:32px;
    align-items: center;
}
.navbar>p{
    color:white;
    font-size: 30px;
}
#teach-p{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}
.menu>p{
font-size: 16px;
font-weight: 500;
color:#FFFFFF;
}
.btn{
    padding:12px 16px;
    border-radius: 10000px;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color:white;
    transition: scale .5s ease-out;
}
.btn:hover{
    scale: 1.5;
}
.hamburg{
    display: none;
}
/* hero banner style */
/* .banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative
  

     
}
.circle{
   position: absolute;
   left: 50%;

   

    
} */

/* about section style */
.about{
   
}
.about-container{
    max-width: 1200px;
    margin:0 auto;
   
}
.description{
    text-align: center;
   }

.section-heading{
    font-size: 48px;
    font-weight: 700;
    margin-bottom:16px;
}
.description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
    color:#FFFFFF;
}
hr{
    opacity: 0.1;
}

#about-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top:80px;
    margin-bottom:120px;
    justify-content: space-between;
    text-align: center;
}
.about-card{
    text-align: center;
}

.about-card h3{
         color:#00FF88;
         font-style: Black;
         font-size: 48px;
         font-weight: 900;
         margin-bottom: 16px;
}
.about-card p{
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
opacity: 0.8;



}
/* tech wave style */
.tech-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3,1fr); */
    grid-auto-rows: minmax(220px,auto);
    margin: 0 auto;
    max-width: 1200px;
    gap:30px;
    margin-top: 40px;
    margin-bottom:120px;
    
}
.section-heading{
    text-align: center;
    
}
.web-card{
    
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin:16px 0;
}
.details{
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;

}
.big{
    grid-column: span 2;
    grid-row: span 1;
}
.medium{
    grid-column: span 1;
    grid-row: span 2;

}
.small{
   grid-column: span 1;
   grid-row: span 1;  
}
/* featured section */
.featured-card{
    margin-bottom: 120px;
}
.featured-container{
    margin: 0 auto;
    max-width: 1200px;
   
}
.featured-box{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.featured-box iframe{
    border-radius: 24px 24px 0px 0px;
  
    
}

.featured-card .featured-content{
    padding: 24px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 0px 0px 24px 24px;
    
    
}
.featured-title{
    font-size: 24px;
    font-weight: 700;
}
.featured-detail{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
    margin:12px 0;

}
.time{
    display: flex;
    align-items: center;
    gap:5px;
}
/* host style */
.host{
    margin-bottom: 120px;
}
.host-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    max-width: 1200px;
     background-color: rgba(37, 13, 68, 1);
     padding: 40px;
     gap: 24px;
     border-radius: 40px;

}
.host-content h4{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}
.host-content p{
    font-weight: 400;
    opacity: 0.6;
    margin:16px 0;

}
.social{
    display: flex;
    align-items: center;
    gap:8px;
}
.social-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    padding:10px;
}

/* footer */
footer{
    /* margin-bottom:100px; */
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container{
    margin:0 auto;
    max-width: 1200px;
    text-align: center;
    padding:40px 20px;
    
}
.footer-container>h1{
 font-size: 60px; 
 font-weight: bolder;
}
#footer-p{
     background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}
.sponser{
   display: flex;
    gap:40px;
    justify-content: center;
    max-width:544px;
    text-align: center;
    margin:0 auto;
}
.sponser-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    gap:8px;

}

/* responsive codes */
@media screen and (max-width:576px) {

    .btn,.menu{
        display: none;
    }
    .navbar {
   
    padding: 24px 20px;
}
    .hamburg{
        display: inline;
        margin-right: 5px;
    }
    #about-box{
        grid-template-columns: repeat(2, 1fr);
        gap:40px;
        margin-top:40px;
    }
    .description p{
    margin-bottom: 40px;
    
}
.section-heading {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-container{
    padding: 40px 20px;
}
.about-card h3 {
    font-size: 35px;
    
}
.tech-container{
    grid-template-columns: repeat(1,1fr);
   
    padding:10px;
}
.big,.small,.medium{
    grid-column: auto;
   grid-row:auto;
}

.featured-box{
    flex-direction: column;

}
.featured-container{
    padding:10px;
    gap:16px;
}
.featured-card{
margin-bottom: 10px;
}




.host-container{
    flex-direction: column;
    text-align: center;
    margin: 10px;
}
.host-content{
    text-align: center;
}
.social{
    text-align: center;
    justify-content: center;
}
.sponser{
   flex-wrap: wrap;
   gap:20px;
   max-width: 350px;
    
}
.sponser-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    gap: 8px;
}
.copy-right{
    margin-top:24px;
}
.footer-container>h1{
 font-size: 60px; 
 margin-bottom: 24px;
}


 
 
}

