*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
/* header style */
header{
    background-image: url(./assets/hero-bg.png);
   
}
/* navbar style */
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 0;
}
.menu{
    display: flex;
    color:white;
    gap:32px;
    align-items: center;
}
.navbar>p{
    color:white;
    font-size: 30px;
}
#teach-p{
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}
.menu>p{
font-size: 16px;
font-weight: 500;
color:#FFFFFF;
}
.btn{
    padding:12px 16px;
    border-radius: 10000px;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color:white;
    transition: scale .5s ease-out;
}
.btn:hover{
    scale: 1.5;
}
.hamburg{
    display: none;
}